<% if signed_in? %>
<script>
$(document).ready(function() {
  $('.save-to-user').click(function() {
  	var url = "<%= "/users/#{current_user.id}/courses/add" %>";
  	var data = $(this).closest("form").serialize();
  	var self = $(this);
  	if (self.html() != "Saved") {
	    $.ajax({
        type: "POST",
        url: url,
        data: data,
        success: function(data)
        {
          self.html("Saved");
          self.removeClass("btn");
        }
      });
	  }
  });
});
</script>
<% end %>
<script>
$(document).ready(function() {
  $('.expand').click(function() {
    $('.expand-container').toggle();
    if ($('.expand').html().indexOf('+') >= 0) {
      $('.expand').html($('.expand').html().replace('+', '-'));
    } else {
      $('.expand').html($('.expand').html().replace('-', '+'));
    }
  });
  $("li:has(ul)").click(function() {
    if ($(this).html().indexOf('+') >= 0) {
      $(this).html($(this).html().replace('+', '-'));
    } else {
      $(this).html($(this).html().replace('-', '+'));
    }
    $("ul", this).toggle();
    alert($(this).parent().get(0).tagName);
  });
});
</script>

<% provide(:title, 'Search Results') %>
<div class="search">
  <h1>Search Results</h1>
  <% if !session[:latitude].present? || !session[:longitude].present? %>
    <div class="location-container">
      <h2>Your location was not able to be calculated.<br><br>Please enter your city, zip code, or full address.</h2>
      <%= form_tag search_path, method: :get, id: "search_form" do %>
          <%= text_field_tag :location, nil, placeholder: '12345, Chicago IL, etc...' %>
          <%= hidden_field_tag :search, params[:search] %>
        <%= submit_tag 'Search', id: 'submit', class: "btn btn-large btn-primary" %>
      <% end %>
    </div>
  <% else %>
    <h2><%=pluralize(@courses.count, 'course') %> found.</h2>
    <div class="expand">+ Advanced Search Options</div>
    <div class="expand-container">
      <%= form_tag search_path, method: :get, id: "search_form" do %>
        <div class="group">
          <label>Specify a new search:</label>
          <%= text_field_tag :search, params[:search], placeholder: 'Business, Computers, etc...' %>
        </div>
        <div class="group">
          <label>Specify a location:</label>
          <%= text_field_tag :location, params[:location], placeholder: '12345, Chicago IL, etc...' %>
        </div>
        <br>
        <%= submit_tag 'Search', id: 'submit', class: "btn btn-large btn-primary" %>
      <% end %>
    </div>
    <%= will_paginate @schools %>

    <%= render partial: 'school', collection: @schools, as: :school, courses: @courses %>

    <%= will_paginate @schools %>
  <% end %>
</div>