<% provide(:title, 'Reset Password') %>
<% breadcrumbs({ 'Home'=>root_url, 'Sign In'=>signin_path, 'Reset Password'=>"" }) %>
<h1><span>Reset Password</span></h1>

<% if params[:hash].present? %>
	<% if flash[:success].present? %>
		<% flash.each do |key, value| %>
	    <div class="alert alert-<%= key %>"><%= value %></div>
	  <% end %>
	  <%= link_to "Sign In", signin_path, class: 'button' %>
	<% else %>
		<h2>Enter your email address and your new password below.</h2>
		<% if flash.any? %>
			<% flash.each do |key, value| %>
		    <div class="alert alert-<%= key %>"><%= value %></div>
		  <% end %>
		<% end %>
		<%= form_tag reset_password_path do %>

			<%= label_tag :email %>
			<%= email_field_tag :email, params[:email] %>

			<%= label_tag :password, 'New Password' %>
			<%= password_field_tag :password %>

			<%= label_tag :password_confirmation, "Confirm Password" %>
			<%= password_field_tag :password_confirmation %>

			<%= hidden_field_tag :hash, params[:hash] %>

			<%= submit_tag "Reset Password", class: "btn-primary" %>

		<% end %>
	<% end %>
<% else %>
	<% if flash[:success].present? %>
		<% flash.each do |key, value| %>
	    <div class="alert alert-<%= key %>"><%= value %></div>
	  <% end %>
	<% else %>
		<h2>Enter your email address associated with your account below. You will receive a verification email. Click on the link in this email in order to choose a new password.</h2>
		<% flash.each do |key, value| %>
	    <div class="alert alert-<%= key %>"><%= value %></div>
	  <% end %>
		<%= form_tag reset_password_path do %>

			<%= label_tag :email %>
			<%= text_field_tag :email %>

			<%= submit_tag "Reset Password", class: "btn-primary" %>

		<% end %>
	<% end %>
<% end %>
