<% if !params[:sort].present? && !params[:search].present? %>
  <%= render 'shared/results_pagination', items: @schools %>

  <ul class="schools">
    <%= render @schools %>
  </ul>

<% elsif params[:sort] != "map" %>
  <%= render 'shared/results_pagination', items: @schools %>

  <ul class="schools">
    <%= render @schools %>
  </ul>

<% else %>
  <label>Click on a marker to view school info.</label>
  <div id="map-canvas"></div>
  <script>
    maps.initializeWithBounds(<%= @min_lat %>, <%= @min_lon %>, <%= @max_lat %>, <%= @max_lon %>);
    <% if session[:latitude].present? && session[:longitude].present? %>
      maps.currentLocation(<%= "#{session[:latitude]}, #{session[:longitude]}" %>);
    <% end %>
    <% @schools.each do |school| %>
      maps.markerWithInfo(<%= school.latitude %>, <%= school.longitude %>, "<%= school.name %>", "<%= school.address %>", <%= school.id %>);
    <% end %>
  </script>
<% end %>
<% if mobile? %>
  <%= render 'shared/pagination', items: @schools if mobile? %>
<% end %>