<div class="results">
  <% if params[:sort].nil? && params[:search].nil? %>
    <%= render 'shared/paginate_alpha' %>
    <hr>
    <div class="results-count"><%= @schools.total_entries %> schools found!</div>
    <%= label_tag :page, "Page:", class: "paginate-label" unless @schools.total_pages < 2 %>
    <%= will_paginate %>

    <ul class="schools">
      <%= render @schools %>
    </ul>

    <%= label_tag :page, "Page:", class: "paginate-label" unless @schools.total_pages < 2 %>
    <%= will_paginate %>
    <hr>
    <%= render 'shared/paginate_alpha' %>
  <% elsif params[:sort] != "map" %>
    <div class="results-count"><%= @schools.total_entries %> schools found!</div>
    <%= will_paginate %>

    <ul class="schools">
      <%= render @schools %>
    </ul>

    <%= will_paginate %>
  <% else %>
    <h2>Click on a marker to view school info.</h2>
    <div id="map-canvas"></div>
    <script>
      maps.initializeWithBounds(<%= @min_lat %>, <%= @min_lon %>, <%= @max_lat %>, <%= @max_lon %>);
      <% if session[:latitude].present? && session[:longitude].present? %>
        maps.currentLocation(<%= "#{session[:latitude]}, #{session[:longitude]}" %>);
      <% end %>
      <% @schools.each do |school| %>
        maps.markerWithInfo(<%= school.latitude %>, <%= school.longitude %>, "<%= school.name %>", "<%= school.address %>", <%= school.id %>);
      <% end %>
    </script>
  <% end %>
</div>