<% provide(:title, "Edit School") %>
<% breadcrumbs({ 'Home'=>root_url, 'Account'=>user_path(current_user), @school.name=>'' }) %>
<h1><span>Edit School</span></h1>
<div class="actions">
	<%= link_to "Edit Courses", school_edit_courses_path(@school), class: "button-regular" %>
	<%= link_to "Automated Management", school_sync_path(@school), class: "button-regular" %>
</div>
<%= form_for(@school) do |f| %>
	<%= render 'shared/flash' %>
  <%= render "form", f: f %>

  <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
<% end %>