<% provide(:title, "Import Schools") %>
<h1><span>Import Schools</span></h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_tag import_schools_action_path, multipart: true do %>

    	<%= select_tag "category", options_for_select(["Four-Year", "Two-Year"]) %><br><br>

			<%= label_tag "Upload schools from CSV file" %>
			<%= file_field_tag :file %><br>

      <%= submit_tag "Import Schools", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>