<% if params[:sort].nil? %>
  <% provide(:title, 'Find Schools By Name') %>
  <% provide(:meta, 'Search for two- and four-year colleges and universities by name') %>
  <h1>Find Schools By Name</h1>
<% elsif params[:sort] == 'distance' %>
  <% provide(:title, 'Find Schools By Location') %>
  <% provide(:meta, 'Search for two- and four-year colleges and universities near you or another location') %>
  <h1>Find Schools By Location</h1>
<% elsif params[:sort] == 'state' %>
  <% provide(:title, 'Find Schools By State') %>
  <% provide(:meta, 'Search for two- and four-year colleges and universities by state') %>
  <h1>Find Schools By State</h1>
<% else %>
  <% provide(:title, 'Find Schools By Map') %>
  <% provide(:meta, 'View two- and four-year colleges and universities on a map') %>
  <h1>Find Schools By Map</h1>
<% end %>
<% breadcrumbs({ 'Home'=>root_url, 'Schools'=>'' }) %>
<div class="sort">
	<% if params[:sort].present? %>
		<%= link_to "Name", schools_path %>
	<% else %>
		<strong>Name</strong>
	<% end %>
	 | 
	<% if params[:sort].present? && params[:sort] == "distance" %>
		<strong>Distance</strong>
	<% else %>
		<%= link_to "Distance", schools_path(sort: "distance") %>
	<% end %>
	 | 
	<% if params[:sort].present? && params[:sort] == "state" %>
		<strong>State</strong>
	<% else %>
		<%= link_to "State", schools_path(sort: "state") %>
	<% end %>
  <% if !is_mobile_device? %>
     | 
    <% if params[:sort].present? && params[:sort] == "map" %>
      <strong>Map</strong>
    <% else %>
      <%= link_to "Map", schools_path(sort: "map") %>
    <% end %>
  <% end %>
</div>

<% if params[:sort] == "distance" || params[:sort] == "map" %>
  <div class="location-container">
    <h2>Please enter a city, zip code, or full address.</h2>
    <%= form_tag schools_path, method: :get, id: "school-location-form" do %>
      <div class="input-group">
        <%= text_field_tag :location, session[:location_name], class: 'form-control clearable' %>
        <%= hidden_field_tag :sort, params[:sort] %>
        <span class="input-group-btn">
          <button class="btn btn-default orange" type="button" onclick="locate.byGeocoder($('#school-location-form input#location').val(), true);">Locate</button>
        </span>
      </div>
    <% end %>
  </div>
<% end %>
<% if params[:sort] == "state" %>
  <div class="state-container">
    <h2>Select a state:</h2>
    <%= form_tag schools_path, method: :get, id: "states_form" do %>
        <%= select_tag :state, options_for_select(us_states, params[:state]), onchange: "this.form.submit();" %>
        <%= hidden_field_tag :sort, "state" %>
      <noscript><%= submit_tag 'Select', class: "btn btn-large btn-primary" %></noscript>
    <% end %>
  </div>
<% end %>
<% if params[:sort].nil? %>
  <div class="search-container">
    <h2>Search for a school:</h2>
    <%= form_tag schools_path, method: :get do %>
      <div class="input-group">
        <%= text_field_tag :search, params[:search], class: 'form-control clearable' %>
        <span class="input-group-btn">
          <button class="btn btn-default orange" type="button" onclick="this.form.submit();">Search</button>
        </span>
      </div>
    <% end %>
  </div>
<% end %>

<% if params[:sort].nil? && params[:search].nil? %>
  <%= render 'shared/paginate_alpha' %>
  <hr>
  <%= label_tag :page_alpha, "Page:", class: "paginate-label" unless @schools.total_pages < 2 %>
  <%= will_paginate %>

  <ul class="schools">
    <%= render @schools %>
  </ul>

  <%= label_tag :page_alpha, "Page:", class: "paginate-label" unless @schools.total_pages < 2 %>
  <%= will_paginate %>
  <hr>
  <%= render 'shared/paginate_alpha' %>
<% elsif params[:sort] != "map" %>
  <%= will_paginate %>

  <ul class="schools">
    <%= render @schools %>
  </ul>

  <%= will_paginate %>
<% else %>
  <h2>Click on a marker to view school info.</h2>
  <div id="map-canvas"></div>
  <script>
    maps.initializeWithBounds(<%= @min_lat %>, <%= @min_lon %>, <%= @max_lat %>, <%= @max_lon %>);
    <% if session[:latitude].present? && session[:longitude].present? %>
      maps.currentLocation(<%= "#{session[:latitude]}, #{session[:longitude]}" %>);
    <% end %>
    <% @schools.each do |school| %>
      maps.markerWithInfo(<%= school.latitude %>, <%= school.longitude %>, "<%= school.name %>", "<%= school.address %>", <%= school.id %>);
    <% end %>
  </script>
<% end %>