<% provide(:title, @school.name) %>
<% provide(:meta, "Important information for #{@school.name}") %>
<% breadcrumbs({ 'Home'=>root_url, 'Schools'=>schools_path, @school.name=>'' }) %>

<div class="school" itemscope itemtype ="http://schema.org/CollegeOrUniversity">
  <h1 itemprop="legalName"><%= @school.name %></h1>
  <h2><%= link_to 'View Courses', school_courses_path(@school) %></h2>
  <table>
    <tr>
      <td>Address:</td>
      <td itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <% if @school.address.split(',')[0] != @school.city %>
          <span itemprop="streetAddress"><%= @school.address.split(',')[0] %></span><br>
        <% end %>
        <span itemprop="addressLocality"><%= @school.city %></span>, <span itemprop="addressRegion"><%= @school.state %></span> <span itemprop="postalCode"><%= @school.zip %></span>
      </td>
    </tr>
    <% if @school.phone.present? %>
      <tr><td>Phone:</td><td><%= @school.phone %></td></tr>
    <% end %>
    <% if @school.website.present? %>
      <tr><td>Website:</td><td><%= link_to @school.website, school_website_url(@school), target: '_blank' %></td></tr>
    <% end %>
  </table>
  <div id="map-canvas"></div>
</div>

<script>
  maps.initialize(<%= @school.latitude %>, <%= @school.longitude %>);
</script>