<% if session.nil? %>
	<tr class='inspect'>
		<td <% if params[:school].present? %><%= request.referer.include?("/edit") ? "colspan=3" : "colspan=2" %><% end %>>
			<table>
				<tr>
					<td><strong>Name:</strong></td><td>
						<% if params[:plugin].present? %>
							<%= course.name.html_safe %>
						<% else %>
							<%= link_to course.name.html_safe, school_course_path(course.school, course) %>
						<% end %></td>
				</tr>
				<tr>
					<td><strong>Department:</strong></td><td><%= "#{course.department} #{course.number}" %></td>
				</tr>
				<% if course.description.present? %>
					<tr>
						<td colspan="2">
							<%= course.description.html_safe %> 
						</td>
					</tr>
				<% end %>
			</table>
		</td>
	</tr>
<% else %>
	<tr class='inspect'>
		<td colspan="<%= desktop? ? 6 : 3 %>">
			<table>
				<tr>
					<td><strong>Name:</strong></td><td>
					<% if params[:plugin].present? %>
						<%= course.name.html_safe %>
					<% else %>
						<%= link_to course.name.html_safe, school_course_path(course.school, course) %>
					<% end %></td>
				</tr>
				<tr>
					<td><strong>Department:</strong></td><td><%= "#{course.department} #{course.number}" %></td>
				</tr>
				<tr>
					<td><strong>CRN:</strong></td><td><%= session.crn %></td>
				</tr>
				<tr>
					<td><strong>Credits:</strong></td><td><%= session.credits %></td>
				</tr>
				<% if session.online %>
					<tr>
						<td><strong>Days:</strong></td><td>Online</td>
					</tr>
					<tr>
						<td><strong>Time:</strong></td><td>Online</td>
					</tr>
				<% else %>
					<tr>
						<td><strong>Days:</strong></td><td><%= days_to_string(session) %></td>
					</tr>
					<tr>
						<td><strong>Time:</strong></td><td><% if session.start_time.present? && session.end_time.present? %><%= session.start_time.present? ? session.start_time.strftime('%l:%M%p') : '' %>-<%= session.end_time.present? ? session.end_time.strftime('%l:%M%p').strip : '' %><% end %></td>
					</tr>
				<% end %>
				<tr>
					<td><strong>Instructor:</strong></td><td><%= session.instructor.present? ? session.instructor.name : "" %></td>
				</tr>
				<% if course.description.present? %>
					<tr>
						<td colspan="2">
							<%= course.description.html_safe %> 
						</td>
					</tr>
				<% end %>
			</table>
		</td>
	</tr>
<% end %>