<% if @school.nil? && @too_far && params[:search].present? %>
	<div class="alert alert-warning">
		Your location is outside our service area which may reduce your experience with our site. Please be patient while we expand into your region.
	</div>
<% end %>
<% flash.each do |key, message| %>
	<div class="alert alert-<%= key %>">
		<%= message %>
	</div>
<% end %>
<% if @school.present? %>
	<% if @courses.present? && @courses.count > 0 %>
		<%= render 'shared/results_pagination', items: @courses %>
			<table class="search-courses school-courses<%= @edit ? ' edit-courses' : '' %>">
				<thead>
					<tr><th>
						<% if params[:order] == "dept" %>
							<% if params[:dir].nil? %>
								<%= link_to "Department &#9660;".html_safe, params.except(:page, "_", :order, :dir).merge(order: "dept", dir: "desc"), class: 'sort' %>
							<% else %>
								<%= link_to "Department &#9650;".html_safe, params.except(:page, "_", :order, :dir).merge(order: "dept"), class: 'sort' %>
							<% end %>
						<% else %>
							<%= link_to "Department", params.except(:page, "_", :order, :dir).merge(order: "dept"), class: 'sort' %>
						<% end %>
						</th><th>
						<% if params[:order].nil? %>
							<% if params[:dir].nil? %>
								<%= link_to "Name &#9660;".html_safe, params.except(:page, "_", :order, :dir).merge(dir: "desc"), class: 'sort' %>
							<% else %>
								<%= link_to "Name &#9650;".html_safe, params.except(:page, "_", :order, :dir), class: 'sort' %>
							<% end %>
						<% else %>
							<%= link_to "Name", params.except(:page, "_", :order, :dir), class: 'sort' %>
						<% end %>
					</th><% if @edit %><th></th><% end %></tr>
				</thead>
				<tbody>
			  	<%= render partial: 'courses/course', collection: @courses, as: :course, locals: { school: @school } %>
			  </tbody>
			</table>
	<% end %>
<% else %>
	<% if @courses.present? && @courses.count > 0 %>
	  <div class="courses-container course-search">
			<% @courses.each do |school| %>
				<%= render 'courses/school', school: school[0], courses: school[1] %>
			<% end %>
		</div>
	<% end %>
<% end %>

