<% if params[:semester].nil? %>
	<% if @school.present? %>
		<% if @courses.present? && @courses.count > 0 %>
			<div class="results-count"><%= @courses.total_entries %> courses found!</div>
			<%= will_paginate @courses %>
				<table class="search-courses school-courses">
					<thead>
						<tr><th>Name</th></tr>
					</thead>
					<tbody>
				  	<%= render partial: 'courses/search', collection: @courses, as: :course, locals: { school: @school } %>
				  </tbody>
				</table>
			<%= will_paginate @courses %>
		<% elsif @school.courses.empty? %>
			<div class="empty">To view course offerings for this institution, click <%= link_to "here", school_website_url(@school), target: '_blank' %> to visit the school's website.</div>
		<% else %>
			<div class="empty">There are no courses matching your search terms.</div>
		<% end %>
	<% else %>
		<% if @courses.present? && @courses.count > 0 %>
			<div class="results-count"><%= @course_count %> courses found!</div>
			<% @courses.each do |school| %>
				<%= render 'courses/school', school: school[0], courses: school[1] %>
			<% end %>
		<% elsif params[:search].present? %>
			<% if location_set? %>
				<div class="empty">There are no courses matching your search terms.</div>
			<% else %>
				<div class="empty">Please specify a location.</div>
			<% end %>
		<% end %>
	<% end %>
<% else %>
	<% if @school.present? %>
		<% if @sessions.present? && @sessions.count > 0 %>
			<div class="results-count"><%= @sessions.total_entries %> course sessions found!</div>
			<%= will_paginate @sessions %>
				<table class="search-courses search-sessions school-sessions" style="border-top: none;">
	    		<thead>
	  				<tr><th>Name</th><th>CRN</th><th>Credits</th><th>Days</th><th>Time</th><th>Instructor</th></tr>
	  			</thead>
	  			<tbody style="max-height: none;">
	    			<%= render partial: 'courses/search', collection: @sessions, as: :session, locals: {school: @school} %>
	    		</tbody>
	    	</table>
			<%= will_paginate @sessions %>
		<% elsif @school.courses.empty? %>
			<div class="empty">To view course offerings for this institution, click <%= link_to "here", school_website_url(@school), target: '_blank' %> to visit the school's website.</div>
		<% else %>
			<div class="empty">There are no courses matching your search terms.</div>
		<% end %>
	<% else %>
		<% if @sessions.present? && @sessions.count > 0 %>
			<div class="results-count"><%= @session_count %> course sessions found!</div>
			<% @sessions.each do |school| %>
				<%= render 'courses/school', school: school[0], sessions: school[1] %>
			<% end %>
		<% elsif params[:search].present? %>
			<% if session[:latitude].present? && session[:longitude].present? %>
				<div class="empty">There are no courses matching your search terms.</div>
			<% else %>
				<div class="empty">Please specify a location.</div>
			<% end %>
		<% end %>
	<% end %>
<% end %>