<% if params[:semester].nil? %>
	<%= form_tag (@school.present? ? school_courses_path(@school) : courses_path), method: :get, class: "search_form", :'data-id' => @school.present? ? @school.id : '' do %>
		<% if @school.nil? %>
			<% if !location_set? || session[:location_method] == 'ip' %>
				<div class="outside">
					<label>Search:</label>
					<%= text_field_tag :search, params[:search], placeholder: 'Business, Computers, etc...' %>
					<label>Location:</label>
				  <div class="input-group location-form">
		      	<%= text_field_tag :location, session[:location_name], placeholder: '12345, Chicago IL, etc...' %>
		      	<span class="input-group-btn location-form">
				      <button class="btn btn-default orange submit location" type="button">My Location</button>
				    </span>
		      </div>
		      <%= submit_tag 'Search', id: 'submit_button', class: "btn btn-large btn-primary" %>
				</div>
			<% else %>
				<div class="outside">
					<label>Search:</label>
					<div class="input-group">
		      	<%= text_field_tag :search, params[:search], placeholder: 'Business, Computers, etc...' %>
		      	<span class="input-group-btn">
		          <button class="btn btn-default orange submit" type="button">Search</button>
		        </span>
		      </div>
				</div>
				<div class="expand button">+ Optional Search Filters</div>
				<div class="expand-container">
					<div class="col-sm-4">
			     	<%= render 'location_form' %>
			    </div>
			    <div style="clear: both;"></div>
			    <%= submit_tag 'Apply Filters', id: 'submitbtn', class: "btn btn-large btn-primary" %>
			  </div>
			<% end %>
		<% else %>
			<div class="expand button">+ Optional Search Filters</div>
			<div class="expand-container">
				<div class="col-sm-4">
		     	<label>Search:</label>
					<%= text_field_tag :search, params[:search], placeholder: 'Business, Computers, etc...' %>
		    </div>
		    <% if @departments.present? %>
			    <div class="col-sm-4">
			    	<%= render 'departments_form' %>
			    </div>
		    <% end %>
		    <div style="clear: both;"></div>
		    <%= submit_tag 'Apply Filters', id: 'submitbtn', class: "btn btn-large btn-primary" %>
		  </div>
		<% end %>
	<% end %>
<% else %>
	<%= form_tag (@school.present? ? school_sessions_path(@school) : sessions_path), method: :get, class: "search_form", :'data-id' => @school.present? ? @school.id : '' do %>
		<div class="outside">
			<% if params[:search].present? || @school.present? %>
				<%= select_tag :semester, options_for_select(semesters, params[:semester]), onchange: "this.form.submit();" %>
			<% else %>
				<%= select_tag :semester, options_for_select(semesters, params[:semester]) %>
			<% end %>
		</div>
		<% if @school.nil? %>
			<% if !location_set? || session[:location_method] == 'ip' %>
				<div class="outside">
					<label>Search:</label>
					<%= text_field_tag :search, params[:search], placeholder: 'Business, Computers, etc...' %>
					<label>Location:</label>
				  <div class="input-group location-form">
		      	<%= text_field_tag :location, session[:location_name], placeholder: '12345, Chicago IL, etc...'%>
		      	<span class="input-group-btn location-form">
				      <button class="btn btn-default orange submit location" type="button">My Location</button>
				    </span>
		      </div>
		      <%= submit_tag 'Search', id: 'submit_button', class: "btn btn-large btn-primary" %>
	      </div>
			<% else %>
				<div class="outside">
					<label>Search:</label>
					<div class="input-group">
		      	<%= text_field_tag :search, params[:search], placeholder: 'Business, Computers, etc...' %>
		      	<span class="input-group-btn">
		          <button class="btn btn-default orange submit" type="button">Search</button>
		        </span>
		      </div>
				</div>
				<div class="expand button">+ Optional Search Filters</div>
				<div class="expand-container">
					<div class="col-sm-4">
			      <%= render 'location_form' %>
			    </div>
			    <div class="col-sm-4">
			    	<%= render 'days_form' %>
			    </div>
			    <div class="col-sm-4">
			    	<%= render 'time_form' %>
			    </div>
		    	<div class="col-sm-4">
			    	<%= render 'online_form' %>
			    </div>
			    <div style="clear: both;"></div>
			    <%= submit_tag 'Apply Filters', id: 'submitbtn', class: "btn btn-large btn-primary" %>
				</div>
			<% end %>
		<% else %>
			<div class="expand button">+ Optional Search Filters</div>
			<div class="expand-container">
				<div class="col-sm-4">
		      <label>Search:</label>
		      <%= text_field_tag :search, params[:search], placeholder: 'Business, Computers, etc...' %>
		    </div>
		    <% if @departments.present? %>
					<div class="col-sm-4">
			    	<%= render 'departments_form' %>
			    </div>
		    <% end %>
		    <div class="col-sm-4">
		    	<%= render 'days_form' %>
		    </div>
		    <div class="col-sm-4">
		    	<%= render 'time_form' %>
		    </div>
	    	<div class="col-sm-4">
		    	<%= render 'online_form' %>
		    </div>
		    <div style="clear: both;"></div>
		    <%= submit_tag 'Apply Filters', id: 'submitbtn', class: "btn btn-large btn-primary" %>
			</div>
		<% end %>
	<% end %>
<% end %>