<%= form_tag (@school.present? ? school_courses_path(@school) : courses_path), method: :get, class: "search_form", :'data-id' => @school.present? ? @school.id : '' do %>
	<%= submit_tag 'Apply Filters', id: 'submitbtn', class: "btn btn-large btn-primary" unless mobile? %>
	<div class="expand-container">
		<ul>
			<li>
				<label>Search for:</label>
				<div class="sort">
					<ul>
						<li class="active">Courses</li><li>
						<%= link_to "Sessions", @sessions_path %>
						</li>
					</ul>
				</div>
			</li>
			<% if @school.nil? %>
				<li>
					<%= render 'shared/location_form' %>
				</li>
			<% end %>
			<li>
				<label>Search:</label>
				<%= text_field_tag :search, params[:search], placeholder: 'Business, Computers, etc...' %>
			</li>
			<% if @departments.present? && !mobile? %>
				<li>
		    	<%= render 'shared/departments_form' %>
		    </li>
		  <% end %>
		  <% if @school.nil? %>
		  	<li>
		  		<%= render 'shared/school_type_form' %>
		  	</li>
		  <% end %>
		</ul>
  </div>
  <% if mobile? %>
  	<%= submit_tag 'Apply Filters', id: 'submitbtn', class: "btn btn-large btn-primary" %>
  <% end %>
<% end %>
