<tr data-session-id="<%= session.id %>">
	<td>
    <strong><%= session.course.name.html_safe %></strong>
  </td><td>
    <%= session.crn %>
  </td><td>
  	<% if session.credits.present? %>
  		<%= session.credits % 1 == 0 ? session.credits.to_f.round(0) : session.credits.round %>
  	<% end %>
  <% if session.start_time.nil? && session.end_time.nil? && days_to_string(session).length == 0 && session.online %>
    <td colspan="2" class="online"><span>Online</span>
  <% else %>
    </td><td>
    <%= days_to_string(session) %>
    </td><td>
    <% if session.start_time.present? && session.end_time.present? %><%= session.start_time.present? ? session.start_time.strftime('%l:%M%p') : '' %>-<%= session.end_time.present? ? session.end_time.strftime('%l:%M%p').strip : '' %>
    <% end %>
  <% end %>
	</td><td>
    <%= session.instructor.present? ? session.instructor.name : "" %>
  </td>
</tr>