<script>
	$(document).ready(function() {
		$('.check-all').click(function() {
			$(this).closest('.col-md-6').find(':checkbox').prop('checked', true);
		});
		$('.uncheck-all').click(function() {
			$(this).closest('.col-md-6').find(':checkbox').prop('checked', false);
		});
	});
</script>

<% if @user.present? %>
	<% provide(:title, 'My Courses') %>
  <h1>My Courses</h1>
<% elsif @school.present? %>
	<% provide(:title, "Courses at #{@school.name}".html_safe) %>
	<% breadcrumbs({ 'Home'=>root_url, 'Schools'=>schools_path, @school.name=>school_path(@school), 'Courses'=>'' }) %>
  <h1>Courses at <%= @school.name %></h1>
<% else %>
	<% provide(:title, 'All Courses') %>
  <h1>All Courses</h1>
<% end %>

<div class="sort">
	<strong>Courses</strong>
	 | 
	<%= link_to "Sessions", school_sessions_path(@school) %>
</div>

<div class="expand button">+ Advanced Search Options</div>
<div class="expand-container">
  <%= form_tag school_courses_path(@school), method: :get, id: "search_form" do %>
    <div class="col-md-6">
      <label>Search:</label>
      <%= text_field_tag :search, params[:search], placeholder: 'Business, Computers, etc...' %>
    </div>
    <% if @school.nil? %>
	    <div class="col-md-4">
	      <label>Specify a location:</label>
	      <%= text_field_tag :location, params[:location], placeholder: '12345, Chicago IL, etc...' %>
	    </div>
	  <% end %>
    <div class="col-md-6">
    	<%= render 'departments_form' %>
    </div>
    <%= hidden_field_tag :semester, params[:semester] %>
    <%= hidden_field_tag :sort, params[:sort] %>
    <%= hidden_field_tag :order, params[:order] %>
    <div style="clear: both"></div>
    <%= submit_tag 'Search', id: 'submit', class: "btn btn-large btn-primary" %>
  <% end %>
</div>

<% if @courses.count > 0 %>
	<%= will_paginate @courses %>
		<table class="courses">
			<tr><th>Name</th><th>Department</th></tr>
		  <%= render @courses %>
		</table>
	<%= will_paginate @courses %>
<% else %>
	<div class="empty">There are currently no course listings for this school.</div>
<% end %>