<% provide :title, "Site Stats" %>
<% provide(:meta, 'View many different stats regarding the website such as top search queries, user locations and more.') %>
<% breadcrumbs({ 'Home'=>root_url, 'Account'=>user_path(current_user), 'Site Stats'=>'' }) %>
<div class="container site-stats">
	<h1>Site Stats</h1>
	<div class="col-sm-6">
		<h2>Top Course Search Queries:</h2>
		<table>
			<thead>
				<tr><th>Term</th><th>Frequency</th></tr>
			</thead>
			<tbody>
				<% @course_searches.each do |search| %>
					<tr><td><%= search.search %></td><td><%= search.count %></td></tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="col-sm-6">
		<h2>Top Session Search Queries:</h2>
		<table>
			<thead>
				<tr><th>Term</th><th>Frequency</th></tr>
			</thead>
			<tbody>
				<% @session_searches.each do |search| %>
					<tr><td><%= search.search %></td><td><%= search.count %></td></tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div style="clear: both;"></div>
	<div class="stats-map course-searches"></div>
</div>
<script>
	maps.initializeStats(".course-searches");
	<% @course_search_locations.each do |location| %>
		<% if location.latitude.present? && location.longitude.present? %>
			maps.markerStats(<%= location.latitude %>, <%= location.longitude %>);
		<% end %>
	<% end %>
	<% @session_search_locations.each do |location| %>
		<% if location.latitude.present? && location.longitude.present? %>
			maps.markerStats(<%= location.latitude %>, <%= location.longitude %>);
		<% end %>
	<% end %>
</script>