<% if mobile? || tablet? %>
	<footer>
		<%= link_to image_tag('facebook-clear.png'), 'http://www.facebook.com/classhunters', target: '_blank' %>
	  <%= link_to image_tag('twitter-clear.png'), 'http://www.twitter.com/classhunters', target: '_blank' %>
	  <%= link_to image_tag('google-plus-clear.png'), 'https://www.google.com/+classhunters', target: '_blank' %><br>
		<%= link_to "Terms & Conditions", terms_path %> | <%= link_to "Privacy Policy", privacy_path %><br>
	  &copy; <%= Time.now.year %> Classhunters. All rights reserved.
	</footer>
<% else %>
	<footer>
		<div class="container">
			<table>
				<tr>
					<td>
						<%= link_to "Terms & Conditions", terms_path %> | <%= link_to "Privacy Policy", privacy_path %><br>
						&copy; <%= Time.now.year %> Classhunters. All rights reserved.
					</td>
					<td>
						<strong>Follow Us: </strong>
					  <%= link_to image_tag('facebook-clear.png'), 'http://www.facebook.com/classhunters', target: '_blank' %>
					  <%= link_to image_tag('twitter-clear.png'), 'http://www.twitter.com/classhunters', target: '_blank' %>
					  <%= link_to image_tag('google-plus-clear.png'), 'https://www.google.com/+classhunters', target: '_blank' %>
					</td>
					<td>
						<strong>Contact Us: </strong><%= link_to 'info@classhunters.com', 'mailto:info@classhunters.com' %>
					</td>
				</tr>
			</table>
		</div>
	</footer>
<% end %>