<!--
<div class="top-right">
	<% if signed_in? %>
		<%= link_to "Welcome, #{current_user.name}", user_path(current_user) %>
		, 
		<%= link_to "Logout", signout_path %>
	<% else %>
		<%= link_to "Login", signin_path %>
	<% end %>
</div>
-->
<div class="bottom-right">
	<%= link_to image_tag('google-plus-clear.png'), 'https://www.google.com/+classhunters', target: '_blank' %>
  <%= link_to image_tag('twitter-clear.png'), 'http://www.twitter.com/classhunters', target: '_blank' %>
  <%= link_to image_tag('facebook-clear.png'), 'http://www.facebook.com/classhunters', target: '_blank' %>
</div>
<h1><%= link_to 'Classhunters'.html_safe, root_path %></h1>